$black-theme: (
    host-bg: #1b1b1b,
    element-header-bg: #111111,
    main-header-bg: #eeeeeecd,
    element-bg: #eeeeee8b,
    primary: #1b1b1b,
    main-bg: #c8cbcf88,
    header-logo-color: #1b1b1b,
    info-bar-text-color: #000000,
    text-color: #000000,
    chat-text-color: #ffffff,
    chat-additional-text-color: black,
    secondary-text-color: #ffffff,
    border-color: #000000,
    danger: #e13636d7,
    success: #20c215,
)
