$blue-theme:(
    host-bg: #eeeeee,
    element-header-bg: #476989,
    main-header-bg: #c8cbcf,
    element-bg: #eeeeee,
    primary: #476989,
    main-bg: #c8cbcf,
    header-logo-color: #587997,
    info-bar-text-color: #000000,
    text-color: #000000,
    chat-text-color: #ffffff,
    chat-additional-text-color: black,
    secondary-text-color: #ffffff,
    border-color: #000000,
    danger: #e13636d7,
    success: #20c215,
)
