$classic-theme: (
    host-bg: #ebd7be,
    element-header-bg: #4a3925,
    main-header-bg: #4a3925,
    element-bg: #eeeeee,
    primary: #000000,
    main-bg: #ebd7be,
    header-logo-color: #8e603f,
    info-bar-text-color: #000000,
    text-color: #000000,
    chat-text-color: #ffffff,
    chat-additional-text-color: black,
    secondary-text-color: #ffffff,
    border-color: #000000,
    danger: #e13636d7,
    success: #20c215,
)
