$dark-theme: (
    host-bg: #121212,
    element-header-bg: #1b1b1b,
    main-header-bg: #eeeeee65,
    element-bg: #eeeeee91,
    primary: #1b1b1b,
    main-bg: #c8cbcf96,
    header-logo-color: #1c1c1c,
    info-bar-text-color: #ffffff,
    text-color: #000000,
    chat-text-color: #ffffff,
    chat-additional-text-color: black,
    secondary-text-color: #ffffff,
    border-color: #ffffff,
    danger: #e13636d7,
    success: #20c215,
)
