$green-theme: (
    host-bg: #eeeeee,
    element-header-bg: #47894f,
    main-header-bg: #c8cfca,
    element-bg: #eeeeee,
    primary: #47894f,
    main-bg: #c8cfca,
    header-logo-color: #47894f,
    info-bar-text-color: #000000,
    text-color: #000000,
    chat-text-color: #ffffff,
    chat-additional-text-color: black,
    secondary-text-color: #ffffff,
    border-color: #000000,
    danger: #ef1a1ad7,
    success: #71f7bdff,
)
