$red-theme: (
    host-bg: #eeeeee,
    element-header-bg: #840000,
    main-header-bg: #cfc8c8,
    element-bg: #eeeeee,
    primary: #840000,
    main-bg: #cfc8c8,
    header-logo-color: #831e1e,
    info-bar-text-color: #000000,
    text-color: #000000,
    chat-text-color: #ffffff,
    chat-additional-text-color: black,
    secondary-text-color: #ffffff,
    border-color: #000000,
    danger: #e81414ea,
    success: #20c215,
)
