<div
  class="watch"
  [class.watch--waiting]="crt === 'waiting'"
  [class.watch--powering-on]="crt === 'powering-on'"
  [class.watch--on]="crt === 'on'"
  [class.watch--powering-off]="crt === 'powering-off'"
  [class.watch--off-air]="crt === 'off-air'"
  [class.watch--needs-gesture]="needsGesture"
>
  <video
    #video
    class="watch__video"
    playsinline
    (click)="onVideoClick()"
  ></video>

  <div class="watch__crt" aria-hidden="true"></div>

  @if (loading && crt !== 'off-air' && crt !== 'powering-off') {
    <div
      class="watch__wait"
      [class.watch__wait--overlay]="crt === 'on' || crt === 'powering-on'"
    >
      {{ waitMessage }}
    </div>
  }

  @if (crt === 'off-air') {
    <div class="watch__off-air">OFF AIR</div>
  }

  @if (needsGesture && crt === 'on') {
    <button type="button" class="watch__unmute" (click)="onVideoClick()">
      TAP FOR SOUND
    </button>
  }

  @if (volumeHudVisible && crt === 'on') {
    <div class="watch__volume" aria-hidden="true">
      <app-load-bar
        [progress]="volumePercent"
        [height]="6"
        [color]="volumeBarColor"
      />
    </div>
  }
</div>
